<launch>
  <arg name="mav_type" default="dragon_ddk"/>
  <arg name="mass" default="0.25"/>
  <arg name="nodelet_manager_name" default="nodelet_manager_control"/>
  <arg name="drone_id" value="0"/>
  
  <!-- Control stuff -->
  <include file="$(find mav_simulator)/launch/single_tmux_control.xml">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="mav_type" value="$(arg mav_type)" />
    <arg name="mass" value="$(arg mass)" />
    <arg name="mav_name" value="ddk$(arg drone_id)" />
    <arg name="odom_topic" value="/ddk$(arg drone_id)/ground_truth/odom" />
  </include>

  <!-- <include file="$(find mav_simulator)/launch/single_tmux_control.xml">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="mav_type" value="$(arg mav_type)" />
    <arg name="mass" value="$(arg mass)" />
    <arg name="mav_name" value="ddk2" />
    <arg name="odom_topic" value="/ddk2/ground_truth/odom" />
  </include>

  <include file="$(find mav_simulator)/launch/single_tmux_control.xml">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="mav_type" value="$(arg mav_type)" />
    <arg name="mass" value="$(arg mass)" />
    <arg name="mav_name" value="ddk3" />
    <arg name="odom_topic" value="/ddk3/ground_truth/odom" />
  </include>

  <include file="$(find mav_simulator)/launch/single_tmux_control.xml">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="mav_type" value="$(arg mav_type)" />
    <arg name="mass" value="$(arg mass)" />
    <arg name="mav_name" value="ddk4" />
    <arg name="odom_topic" value="/ddk4/ground_truth/odom" />
  </include> -->

</launch>
